<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<% include ../partials/style_signup_create_user %>

</head>

<body id="CreateUserForm">
	<header>
		<% include ../partials/header %>
	</header>

	<% include ../partials/signup_form %>
	
</body>
</html>