<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<% include ../partials/style_signup_create_user %>

</head>

<body id="CreateUserForm">
	<header>
		<% include ../partials/header %>
	</header>

	<div class="container">
		<div class="signUp-form">
			<div class="main-div">
				<div class="panel">
			   		<h2>Create New User</h2>
			   		<p>All fields are required</p>
				</div>

				<% include ../partials/signup_form %>

					<button type="submit" class="btn btn-success">Create</button>
				</form>

			</div>
		</div>
	</div>

</body>
</html>