<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<% include ../partials/style_edit_account_user %>

</head>

<body id="LoginForm">
		<header>
			<% include ../partials/header %>
		</header>

		<% include ../partials/edit_account_form %>

</body>
</html>