<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<% include ../partials/style_edit_account_user %>

</head>

<body id="LoginForm">
		<header>
			<% include ../partials/header %>
			
		</header>
	
	<div class="container">
		<div class="signUp-form">
			<div class="main-div">
				<div class="panel">
			   		<h2>Edit User</h2>
					<br>
				</div>
				<form id="update" method="POST" action="">
					<div class="row form-group">
							<div class="col-xs-6 col-md-6">
								<input class="form-control" id="firstname" name="first_name" placeholder="First Name" type="text"
									required autofocus/>
							</div>
							<div class="col-xs-6 col-md-6">
								<input class="form-control" id="lastname" name="last_name" placeholder="Last Name" type="text" required/>
							</div>
						</div>

					<div class="form-group">
						<input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required>
					</div>
					<div class="form-group row">
						<span id="position"><strong>Position:	</strong></span>
						<div class="col-6 col-md-4">
							<label class="radio-inline">
								<input id="ae" type="radio" name="role_id" value="1" />Account Executive</label>
						</div>	
						<div class="col-6 col-md-4">
						<label class="radio-inline">
							<input id="sm" type="radio" name="role_id" value="2" />Sales Manager</label>
						</div>	
						<label class="radio-inline">
					</div>
					<div class="row form-group">
						<div class="col-xs-6 col-md-6">
							
						</div>

						<div class="col-xs-3 col-md-3">
							<button type="submit" class="btn btn-outline-warning btn-sm">Update</button>
						</div>
				
						<div class="col-xs-3 col-md-3">	
							<form method="GET" action="/users">
								<button type="submit" class="btn btn-outline-secondary btn-sm">Cancel</button>
							</form>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
	<form id="delete" method="POST" action="">
			<button class="delete" type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
		</form>
	
<script type="text/javascript">
	var id = window.location.href.split('/users/edit/')[1];

	$.ajax({
		url: '/usersjson/' + id,
		method: 'GET'
	}).then(function(data){

		$('#firstname').val(data.first_name);
		$('#lastname').val(data.last_name);
		$('#email').val(data.email);
		$('#role_id').val(data.role_id);

		if (data.role_id == 1){
			$('#ae').attr('checked', "true");
		}else {
			$('#sm').attr('checked', "true");
		}

		$('#update').attr('action', '/user/update/' + id);
		$('#delete').attr('action', '/user/delete/' + id);

		console.log(data);
	});
</script>
</body>
</html>