<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<% include ../partials/style %>

	<style>

	</style>
</head>

<body>

	<header>
		<% include ../partials/header %>
	</header>

	<div class="chooseCompany">
			<div class="login-form">				
				<div class="main-div">
					<div class="panel">
						<h4 class="seleCompTitle">Select Company</h4>
					</div>
					<form method="POST" action="/initnotes">
						<div class="form-group">
							<select class="form-control" name="id" required>
								<% dat.forEach(function(account) { %>
									<option value="<%= account.account_id %>"><%= account.company %></option>
								<% }); %>
							</select>
						</div>
						<div class="form-group">
							<div>
								<button type="submit" class="btn btn-primary btn-block btn-submit">Submit</button>
							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>

<!-- Footer -->
<% include ../partials/footer %>
<!-- Footer -->

</body>
</html>