<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="jumbotron">
				<h2>Select Company</h2>

				<form method="POST" action="/initnotes">
					<div class="form-group row">
						<select class="form-control" name="id" required>
								<% dat.forEach(function(account) { %>
										<option value="<%= account.account_id %>"><%= account.company %></option>
								<% }); %>
						</select>
					</div>
					<div class="form-group row">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">Ok</button>
							</div>
					</div>
				</form>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>