<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<% include ../partials/style %>

	<style>
		#nav_initnotes{
			color: white;
		}
	</style>
</head>

<body>

	<header>
		<% include ../partials/header %>
	</header>

	<div class="chooseCompany">
			<div class="login-form">				
				<div class="main-div">
					<form method="POST" action="/initnotes">
						<div class="form-group">
							<label id="seleCompTitle">Select Deal: </label>
							<select id="select_option" name="id" required>
								<% dat.forEach(function(account) { %>
									<option value="<%= account.id %>"><%= account.name %> - <%= account.company %></option>
								<% }); %>
							</select>
							<button type="submit" class="btn btn-primary btn-submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

<!-- Footer -->
<% include ../partials/footer %>
<!-- Footer -->

</body>
</html>