<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	
	<% include ../partials/style_login %>

<style>
	
</style>
	
</head>

<body id="LoginForm">
			
		<% include ../partials/login_form %>


	
</body>
</html>