<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	
	<% include ../partials/style_login %>

<style>
	
</style>
	
</head>

<body id="LoginForm">
			
	<div class="container">
		<div class="login-form">				
			<div class="main-div">
				<div class="panel">
			   		<h2 id="logoutmsg">You have successfully logged out.</h2>
			   		<p>Please enter your email and password</p>
				</div>
				<form method="POST" action="/login">
					<div class="form-group">
						<input type="email" name="email" class="form-control" placeholder="Email Address" required>
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control" placeholder="Password" required>
					</div>
						<button type="submit" class="btn btn-primary">Log In</button>
				</form>
				<br>
				<form method="GET" action="/signup">
					<button type="submit" class="btn btn-primary" id='loginFormSignupBtn'>Sign Up</button>
				</form>
				<a href="/user_verification">Forgot Password</a>

			</div>
		</div>
	</div>


	
</body>
</html>