<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	
	<% include ../partials/style_login %>

</head>

<body id="LoginForm">

	<div class="container">
		<div class="login-form">				
			<div class="main-div">
				<div class="panel">
					<h2 id="logoutmsg">You have successfully logged out.</h2>
					<p>Please enter your email and password</p>
					   
					<% include ../partials/login_form %>
				</div>
			</div>
		</div>
	</div>

</body>
</html>