<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<% include ../partials/style %>
</head>

<body>
	<header>
		<% include ../partials/header %>
	</header>

	<div class="main-content table-responsive table-sm">
		This is the main page
	</div>
	
<!-- Footer -->
<% include ../partials/footer %>
<!-- Footer -->
</body>
</html>