<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<style>
		.main-content{
			padding-top: 110px;
		}
		
	</style>
</head>

<body>
	<header>
		<% include ../partials/header %>
	</header>

	<div class="main-content table-responsive table-sm">
		This is the main page
	</div>

</body>
</html>